<li class="organization">
  <%= link_to image_tag(identity_provider.logo, class: "large"), 
  							auth_path(identity_provider.nickname) %>
  <p>
    <%= link_to identity_provider.name, auth_path(identity_provider.nickname) %>
  </p>
</li>