<h1>Patient Record</h1>

<h4>Conditions</h4>
<% unless @conditions.empty? %>
  <ul class="conditions">
  	<%= render :partial => "condition", :collection => @conditions %>
  </ul>
<% else %>
  <p>No data</p>
<% end %>

<h4>Medications</h4>
<% unless @medications.empty? %>
  <ul class="conditions">
    <%= render :partial => "medication", :collection => @medications %>
  </ul>
<% else %>
  <p>No data</p>
<% end %>

<h4>Observations</h4>
<% unless @observations.empty? %>
  <ul class="conditions">
    <%= render :partial => "observation", :collection => @observations %>
  </ul>
<% else %>
  <p>No data</p>
<% end %>

<h4>Encounters</h4>
<% unless @encounters.empty? %>
  <ul class="conditions">
    <%= render :partial => "encounter", :collection => @encounters %>
  </ul>
<% else %>
  <p>No data</p>
<% end %>

